<h1>mcHammer Bot</h1>

<div class = "container">
	<div class = "btn btn-success"> Forward </div>
	<br/>
	<div class = "btn btn-info"> Left </div>
	<div class = "btn btn-danger"> Reverse </div>

	<div class = "btn btn-warning"> Right </div>

	<div class = "btn btn-inverse left"> Strafe Left </div>
	<div class = "btn btn-inverse"> Strafe Right </div>
</div>
